<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- typealias 등록 -->
<configuration>
	<typeAliases>
		<typeAlias type="kr.kh.riot.model.vo.UserVO" alias="UserVO"/>	
		<typeAlias type="kr.kh.riot.model.vo.BoardVO" alias="BoardVO"/>	
		<typeAlias type="kr.kh.riot.model.vo.TFTVO" alias="TFTVO"/>	
		<typeAlias type="kr.kh.riot.model.vo.PostVO" alias="PostVO"/>	
		<typeAlias type="kr.kh.riot.model.vo.RecommendedVO" alias="RecommendedVO"/>	
		<typeAlias type="kr.kh.riot.model.vo.FileVO" alias="FileVO"/>	
		<typeAlias type="kr.kh.riot.model.vo.CommentVO" alias="CommentVO"/>	
		<typeAlias type="kr.kh.riot.model.vo.EmailVO" alias="EmailVO"/>	
		<typeAlias type="kr.kh.riot.model.vo.PositionVO" alias="PositionVO"/>	

	</typeAliases>
</configuration>